In [15]:
import pandas as pd

array = [1,2,3,4,5]
e = pd.Series(data=array, index=['a','b','c','d','e'])

print(e)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
index = ['Doom', 'Street Fighter 6', 'League of Legends']
array = [20, 60, 0]
year = ['2000', '2023', '2011']
ser = pd.Series(data=array, index=index )
df = ser.to_frame()
df.columns = ['price']

print(ser)
print(df)

Doom                 20
Street Fighter 6     60
League of Legends     0
dtype: int64
                   price
Doom                  20
Street Fighter 6      60
League of Legends      0

In [30]:
index = ['Doom', 'Street Fighter 6', 'League of Legends']
info = [20, 60, 0]

ser = pd.Series(data=array, index=info )
df = ser.to_frame()
df.columns = ['price']
df['year of release'] = ['2000', '2023', '2011']

print(ser)
print(df.describe())
print(df.columns)

20    20
60    60
0      0
dtype: int64
           price
count   3.000000
mean   26.666667
std    30.550505
min     0.000000
25%    10.000000
50%    20.000000
75%    40.000000
max    60.000000
Index(['price', 'year of release'], dtype='object')

In [36]:
csv = pd.read_csv('Song.csv')

print(csv)
print(len(csv))
print(list(csv.columns.values))
print(csv.dtypes)

                       Artist                              Title  Year  \
0     Bill Haley & his Comets              Rock Around the Clock  1955
1                 Celine Dion                My Heart Will Go On  1998
2             Sinead O'Connor               Nothing Compares 2 U  1990
3                 The Beatles                           Hey Jude  1968
4                 Bryan Adams  (Everything I Do) I Do it For You  1991
...                       ...                                ...   ...
4845                  Rihanna       If It's Lovin' That You Want  2005
4846                Al Jolson                          All Alone  1925
4847                   Sailor                Girls, Girls, Girls  1976
4848             Inner Circle                  Games People Play  1994
4849                  The Who                    See Me, Feel Me  1970

       Sales  Streams  Downloads  Radio Plays  Rating
0     36.503   19.961      7.458        5.663   0.760
1     35.405   12.636      8.944       23.701   3.610
2     35.135   14.582     10.242       23.747   2.733
3     34.442   25.545     16.390       16.541   1.510
4     34.367   16.523     12.368       23.194   3.121
...      ...      ...        ...          ...     ...
4845   4.150    1.573      1.107        2.196   0.510
4846   4.150    3.211      0.000        0.000   0.548
4847   4.149    0.200      1.220        6.344   0.000
4848   4.149    0.512      0.515        3.097   1.700
4849   4.149    3.630      1.286        3.000   0.000

[4850 rows x 8 columns]
4850
['Artist', 'Title', 'Year', 'Sales', 'Streams', 'Downloads', 'Radio Plays', 'Rating']
Artist          object
Title           object
Year             int64
Sales          float64
Streams        float64
Downloads      float64
Radio Plays    float64
Rating         float64
dtype: object

In [42]:
year_csv = csv.query('Year > 2011')
year_csv.sort_values(by=['Sales'])
year_csv = year_csv.iloc[:, [0,1]]
print(year_csv)

                                      Artist                         Title
177                           Gotye & Kimbra  Somebody That I Used to Know
261                         Carly Rae Jepsen                 Call Me Maybe
522   Robin Thicke, T.I. & Pharrell Williams                 Blurred Lines
664                                      Psy                 Gangnam Style
707                                     fun.                  We Are Young
...                                      ...                           ...
4365                             Michel Telo             Ai se eu te pego!
4382                 Macklemore & Ryan Lewis                 Can't Hold Us
4427                             Chris Brown              Don't Wake Me Up
4587                                   Ke$ha                     Die Young
4804                                Rita Ora             How We Do (Party)

[65 rows x 2 columns]

In [52]:
artist = csv.groupby(['Artist'])['Sales'].count().reset_index(name="Sales")
artist = artist.sort_values(by=['Sales'], ascending=False)
print(artist)

                              Artist  Sales
1242                         Madonna     48
1902                     The Beatles     43
617                    Elvis Presley     43
2025              The Rolling Stones     31
1333                 Michael Jackson     29
...                              ...    ...
901                Ja Rule & Ashanti      1
900                          Ja Rule      1
899                           J-Kwon      1
897   J Frank Wilson & the Cavaliers      1
2242      will.i.am & Britney Spears      1

[2243 rows x 2 columns]